<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Ruby on rails tutorial</title>

    <meta name="description" content="Tutorial on network simulation">
    <meta name="author" content="Sundar Raman G">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/league.css" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section data-transition="convex">
                <h2>Basics of Ruby on Rails</h2>
                <p>Slides available at: <a href="http://ror.sundarraman.me">ror.sundarraman.me</a></p>
            </section>

            <section data-transition="convex">
                <section>
                    <h2>Introduction </h2>

                    <p>
                        <h3>Ruby</h3>

                        <h3>Ruby on Rails (framework)</h3>

                    </p>
                </section>

            </section>

            <section>

                <h2>Installation</h2>

                <p>

                    <a href="https://gorails.com/setup/ubuntu/14.04">https://gorails.com/setup/ubuntu/14.04</a>

                </p>




            </section>

            <section>
                <h2>Execution</h2>
                <pre>
                <code class="bash">
mkdir rails_app
cd rails_app
rails new books -d mysql
               </code>

              </pre>
            </section>


            <section>
                <b>database.yml</b>
                <pre>
                <code class="bash">
adapter: mysql2
encoding: utf8
reconnect: false
database: books_development
pool: 5 username: root
password: pass
socket: /var/run/mysqld/mysqld.sock
               </code>

              </pre>
            </section>

            <section>
                <h2>Execution</h2>
                <pre>
                <code class="ruby">
rake db:create
rails generate controller books index
rails generate model book access_no:integer title:string author:string edition:integer publisher:string
rake db:migrate
               </code>

              </pre>

            </section>

            <section>
                <b>app/views/books/index.html.erb</b>
                <pre>
                <code class="html">
<h1>Books</h1><br>
<h3 style="text-align: center;">Add a book</h3><br>
<%= form_tag("/books/add", :method=>"post") do %>
<form action="/books/add" method="post"> <br>
Access No:<%= text_field_tag(:b_access_no) %><br>

<br>Title: <%= text_field_tag(:b_title) %><br>
<br>Author: <%= text_field_tag(:b_author) %><br>
<br>Edition: <%= text_field_tag(:b_edition) %><br>
<br>Publisher: <%= text_field_tag(:b_publisher) %><br>
<br><br>
<%= submit_tag("Add Book") %><br>
<% end %><br>
<h3 style="text-align: center;">Search for a book</h3><br>
<%= form_tag("/books/search", :method=>"post") do %>
<form action="/books/search" method="post"><br>
Title: <%= text_field_tag(:bs_title) %>
<br>
<br><br>
<%= submit_tag("Search") %>
<br>
<% end %>
<br>
</code>
</pre>
            </section>

            <section>
                <b>app/views/books/search.html.erb</b>
                <pre>
                <code class="html">
<h1>Search Result</h1><br>
<table border=1><br>
<% @t=Book.find_by_title(params[:bs_title]) %><br>
<tr><br>
<th>Access No.</th><br>
<th>Title</th><br>
<th>Author</th><br>
<th>Edition</th><br>
<th>Publisher</th><br>
</tr><br>
<tr><br>
<td> <%=  @t.access_no %> </td>
<td> <%= @t.title %> </td>
<td> <%= @t.author %> </td>
<td> <%= @t.edition %> </td>
<td> <%= @t.publisher %> </td>
</tr><br>
</table><br>
<br><br><br>
<a href="/books/index">Back</a>
<br>
</code>
              </pre>
            </section>

            <section>
                <b>controller/books_controller.rb</b>
                <pre>
    <code class="ruby">
class BooksController < ApplicationController
  def index
  end

  def add

    Book.create(:access_no=>params[:b_access_no],:title=>params[:b_title],:author=>params[:b_author],:edition=> params[:b_edition],:publisher=> params[:b_publisher])

    redirect_to :action => 'index'
  end

  def search

  end

end
    </code>
  </pre>
            </section>

            <section>
                <b>config/routes.rb</b>
                <pre>
    <code class="ruby">
Rails.application.routes.draw do

get "books/index" => "books#index", :as => :index
match "books/add" => "books#add", :via => :post
match "books/search" => "books#search", :via => :post

end
</code>
  </pre>
            </section>

            <section>
                <h2>Start your server</h2>
                <pre>
    <code class="ruby">
rails s
    </code>
  </pre>
                <pre>
=> Booting Puma
=> Rails 5.0.0.1 application starting in development on http://localhost:3000
=> Run `rails server -h` for more startup options
Puma starting in single mode...
* Version 3.6.0 (ruby 2.3.1-p112), codename: Sleepy Sunday Serenity
* Min threads: 5, max threads: 5
* Environment: development
* Listening on tcp://localhost:3000
Use Ctrl-C to stop
  </pre>
            </section>

            <section>
                <h2>Thank You</h2>

                <p>
                    <small>Presentation by <a href="https://github.com/gsraman">Sundar Raman G</a></small><br>

                </p>
            </section>





        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>
        // More info https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            transition: 'convex', // none/fade/slide/convex/concave/zoom

            // More info https://github.com/hakimel/reveal.js#dependencies
            dependencies: [{
                src: 'lib/js/classList.js',
                condition: function() {
                    return !document.body.classList;
                }
            }, {
                src: 'plugin/markdown/marked.js',
                condition: function() {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: 'plugin/markdown/markdown.js',
                condition: function() {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: 'plugin/highlight/highlight.js',
                async: true,
                callback: function() {
                    hljs.initHighlightingOnLoad();
                }
            }, {
                src: 'plugin/zoom-js/zoom.js',
                async: true
            }, {
                src: 'plugin/notes/notes.js',
                async: true
            }]
        });
    </script>

</body>

</html>
