.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.992188;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:54.872000px;}
._0{width:57.538404px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:59.599995px;}
.fs3{font-size:86.000000px;}
.fs5{font-size:96.000000px;}
.fs4{font-size:112.000000px;}
.fs2{font-size:128.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y19{bottom:31.078100px;}
.y12{bottom:67.632065px;}
.y18{bottom:74.844070px;}
.y11{bottom:117.594070px;}
.y17{bottom:124.806076px;}
.y10{bottom:167.556076px;}
.y8{bottom:174.768082px;}
.yf{bottom:217.518066px;}
.y7{bottom:224.730072px;}
.yc{bottom:239.408066px;}
.ye{bottom:253.230072px;}
.y6{bottom:274.692078px;}
.yb{bottom:288.553818px;}
.yd{bottom:288.942078px;}
.y5{bottom:324.654083px;}
.ya{bottom:331.993088px;}
.y16{bottom:339.822250px;}
.y1{bottom:351.376381px;}
.y15{bottom:366.606255px;}
.y4{bottom:374.616081px;}
.y9{bottom:381.138824px;}
.y14{bottom:393.390257px;}
.y3{bottom:424.578085px;}
.y13{bottom:473.386879px;}
.y2{bottom:504.699379px;}
.h5{height:75.046875px;}
.h4{height:87.554688px;}
.h3{height:100.062500px;}
.h2{height:137.585938px;}
.h0{height:595.250000px;}
.h1{height:595.500000px;}
.w0{width:793.750000px;}
.w1{width:794.000000px;}
.x0{left:0.000000px;}
.x3{left:48.125000px;}
.xb{left:50.336609px;}
.x9{left:73.625000px;}
.x7{left:82.125000px;}
.x1{left:105.312500px;}
.xa{left:127.187500px;}
.x8{left:148.312500px;}
.xd{left:235.187500px;}
.x5{left:246.250000px;}
.xc{left:247.500000px;}
.xe{left:253.625000px;}
.x4{left:279.312500px;}
.x6{left:291.500000px;}
.x2{left:346.625000px;}
.xf{left:368.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:73.162667pt;}
._0{width:76.717872pt;}
.fs1{font-size:79.466660pt;}
.fs3{font-size:114.666667pt;}
.fs5{font-size:128.000000pt;}
.fs4{font-size:149.333333pt;}
.fs2{font-size:170.666667pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y19{bottom:41.437467pt;}
.y12{bottom:90.176086pt;}
.y18{bottom:99.792094pt;}
.y11{bottom:156.792094pt;}
.y17{bottom:166.408101pt;}
.y10{bottom:223.408101pt;}
.y8{bottom:233.024109pt;}
.yf{bottom:290.024089pt;}
.y7{bottom:299.640096pt;}
.yc{bottom:319.210754pt;}
.ye{bottom:337.640096pt;}
.y6{bottom:366.256104pt;}
.yb{bottom:384.738424pt;}
.yd{bottom:385.256104pt;}
.y5{bottom:432.872111pt;}
.ya{bottom:442.657450pt;}
.y16{bottom:453.096334pt;}
.y1{bottom:468.501841pt;}
.y15{bottom:488.808339pt;}
.y4{bottom:499.488108pt;}
.y9{bottom:508.185099pt;}
.y14{bottom:524.520343pt;}
.y3{bottom:566.104113pt;}
.y13{bottom:631.182505pt;}
.y2{bottom:672.932505pt;}
.h5{height:100.062500pt;}
.h4{height:116.739583pt;}
.h3{height:133.416667pt;}
.h2{height:183.447917pt;}
.h0{height:793.666667pt;}
.h1{height:794.000000pt;}
.w0{width:1058.333333pt;}
.w1{width:1058.666667pt;}
.x0{left:0.000000pt;}
.x3{left:64.166667pt;}
.xb{left:67.115479pt;}
.x9{left:98.166667pt;}
.x7{left:109.500000pt;}
.x1{left:140.416667pt;}
.xa{left:169.583333pt;}
.x8{left:197.750000pt;}
.xd{left:313.583333pt;}
.x5{left:328.333333pt;}
.xc{left:330.000000pt;}
.xe{left:338.166667pt;}
.x4{left:372.416667pt;}
.x6{left:388.666667pt;}
.x2{left:462.166667pt;}
.xf{left:491.333333pt;}
}
